

  <div class="row bg-yellow">
    <div class="col-md-3 no-padder">
      <div class="box web-dev">
        <div class="box-icon"> <span class="fa fa-4x fa-desktop"></span> </div>
        <div class="info">
          <h4 class="text-center">Web Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 no-padder">
      <div class="box game-dev">
        <div class="box-icon"> <span class="fa fa-4x fa-gamepad"></span> </div>
        <div class="info">
          <h4 class="text-center">Game Dev</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 no-padder">
      <div class="box brand-dev">
        <div class="box-icon"> <span class="fa fa-4x fa-paint-brush"></span> </div>
        <div class="info">
          <h4 class="text-center">Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 no-padder">
      <div class="box ads-dev">
        <div class="box-icon"> <span class="fa fa-4x fa-puzzle-piece"></span> </div>
        <div class="info">
          <h4 class="text-center">Advertisement</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
  </div>
