<div class="view intro hm-white-light parallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../assets/images/pbg.jpg); height: 500px;">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 500px">
        <div class="row mt-5">
          <div class="col-md-12 wow white-text fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Our <a class="indigo-text font-bold">Laboratory</a></h1>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Web dev, game dev & graphic design</h5>
              <a class="btn btn-light-blue btn-lg wow fadeIn" data-wow-delay="0.4s">Portfolio</a> <a class="btn btn-indigo btn-lg wow fadeIn" data-wow-delay="0.4s"></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>