@import url('https://fonts.googleapis.com/css?family=Raleway');
.navbar-dark .navbar-nav .nav-link {
    color: #f5f5f5;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #d2bef1;
    font-size: 14px;
    padding: 25px 10px;
}

.bg-dark {
    background-color: #1b2027!important;
}

.navbar {
     -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 10px;
}

.dropdown-menu {
    background-color: #1b2027;
    margin: 0 0 0;
    font-family: 'Raleway', sans-serif;
}